<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uestc.lcy.androidbook">

    <!--网络请求的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AndroidBookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".modules.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".modules.MainActivity" />
        <activity android:name=".modules.guide.GuideActivity"/>
        <activity android:name=".modules.login.LoginActivity"/>
        <activity android:name=".modules.register.RegisterActivity"/>
        <activity android:name=".modules.user_info.UserInfoActivity"/>
        <activity android:name=".modules.home.article_content.ArticleContentActivity"/>
        <activity android:name=".modules.knowledge_system.activity.ChildSystemActivity"/>
        <activity android:name=".modules.knowledge_system.activity.ChildArticleListActivity"/>
        <activity android:name=".modules.navigate.NavigateActivity"/>
        <activity android:name=".modules.project.activity.ProjectListActivity"/>
    </application>

</manifest>